<header class="main-header">
  <div class="main-header__info left-column">
    <h1 class="main-header__info-title">Davide Brognoli</h1>
    <h2 class="main-header__info-subtitle">Senior Frontend Developer</h2>
    <ul class="main-header__info-links">
      <li class="main-header__info-link"><a href="tel: +393488090028"><i class="fas fa-phone"></i> +393488090028</a></li>
      <li class="main-header__info-link"><a href="mailto: davide.brognoli@gmail.com"><i class="fas fa-at"></i> davide.brognoli@gmail.com</a></li>
      <li class="main-header__info-link"><a href="#"><i class="fas fa-link"></i> https://davidebrognoli.com</a></li>
      <li class="main-header__info-link"><i class="fas fa-map-marker-alt"></i> Brescia, Italy</li>
    </ul>
  </div>
  <div class="main-header__image right-column">
    <img src="../static/davide-brognoli.jpg" alt="Davide Brognoli">
  </div>
</header>
