<div class="online content-section">
  <h2 class="content-section__title">Online</h2>
  <ul class="online__items">
    {{#each online}}
    <li class="online__item">
      <i class="fab {{this.icon}} online__item-icon"></i>
      <a class="online__item-description" href="{{this.url}}">{{this.link}}</>
    </li>
    {{/each}}
  </ul>
</div>
