<div class="skills content-section">
  <h2 class="content-section__title">Skill</h2>
  <div class="skills__items">
    {{#each skills}}
    <div class="skills__item">{{this}}</div>
    {{/each}}
  </div>
</div>
