<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="p:domain_verify" content="f132dbc66ccae4a633f82c247658ec61"/>
  <title>{{pageTitle}}</title>
  <meta content="{{pageDescription}}" name="description"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    {{> partials/header }}
    <div class="content">
      <div class="left-column">
        {{> partials/experiences }}
        {{> partials/education }}
        {{> partials/my-day }}
      </div>
      <div class="right-column">
        {{> partials/passions }}
        {{> partials/skills }}
        {{> partials/languages }}
        {{> partials/online }}
      </div>
    </div>
  </div>
</body>

</html>
