<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{pageTitle}}</title>
    <meta content="{{pageDescription}}" name="description"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
</head>
<body>
  <div class="container">
    {{> partials/header }}
    <div class="content">
      <div class="left-column">
        {{> partials/experiences }}
        {{> partials/education }}
        {{> partials/my-day }}
      </div>
      <div class="right-column">
        {{> partials/passions }}
        {{> partials/skills }}
        {{> partials/languages }}
        {{> partials/online }}
      </div>
    </div>
  </div>
</body>

</html>
