$black: #000;
$white: #FFF;
$grey: #999;
$light-grey: #CCC;


$colors: (
  text: $black,
  header_subtitle: $grey,
  link: $grey,
  link-hover: $black,
  title: $black,
  subtitle: $grey,
  border: $black,
  dashed-border: $light-grey,
  light-border: $light-grey,
  icon: $grey
);

@function color($name) {
  @return map-get($colors, $name);
}
