.my-day{

  &__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__chart{
    max-width: 250px;
  }

  &__legend{
    margin: 0;
    padding: 0 0 0 100px;
    text-align: right;
    list-style: none;

    li{
      padding: 5px 0;
    }

    &-label{
      display: inline-block;
      width: 100px;
      text-align: right;
      text-transform: uppercase;
    }

    &-color {
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 100%;
    }
  }
}

@media only screen and (max-width: $portrait-width - 1) {
  .my-day{
    &__chart{
      margin: 0 auto;
    }

    &__legend{
      margin-top: 20px;
      padding: 0;
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 100%;

      li{
        flex: 0 0 50%;
      }
    }
  }
}
